.containerProfile {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 32px;
    width: 800px;
    background: #d9d9d9;
    border-radius: 25px;
    padding: 18px 33px;
    margin: 30px 0;
}

.profilePhoto {
    border-radius: 100%;
    border: 2px solid #005cff;
    width: 220px;
    height: 220px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileName {
    margin-bottom: 10px;
    color: #005cff;
    font-weight: 700;
}

.profileDescription {
    color: black;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 48px;
}

@media (max-width: 1024px) {
    .containerProfile {
        width: 600px;
        padding: 18px 10px;
        gap: 16px;
    }

    .profilePhoto {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .containerProfile {
        width: 500px;
        padding: 18px 10px;
        gap: 16px;
    }

    .profilePhoto {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 460px) {
    .containerProfile {
        width: 350px;
    }

    .profilePhoto {
    }
}
